:root {
  --nav-font-family: "Pretendard", Helvetica;
  --nav-font-weight: 500;
  --nav-font-size: 18px;
  --nav-letter-spacing: -0.2800000011920929px;
  --nav-line-height: normal;
  --nav-font-style: normal;
  --subtitle-1-normal-font-family: "Pretendard", Helvetica;
  --subtitle-1-normal-font-weight: 400;
  --subtitle-1-normal-font-size: 24px;
  --subtitle-1-normal-letter-spacing: -0.2800000011920929px;
  --subtitle-1-normal-line-height: 129.99999523162842%;
  --subtitle-1-normal-font-style: normal;
  --h-2-font-family: "Pretendard", Helvetica;
  --h-2-font-weight: 700;
  --h-2-font-size: 40px;
  --h-2-letter-spacing: -0.2800000011920929px;
  --h-2-line-height: 150%;
  --h-2-font-style: normal;
  --number-font-family: "Pretendard", Helvetica;
  --number-font-weight: 700;
  --number-font-size: 48px;
  --number-letter-spacing: -0.2800000011920929px;
  --number-line-height: 129.99999523162842%;
  --number-font-style: normal;
  --h-3-font-family: "Pretendard", Helvetica;
  --h-3-font-weight: 700;
  --h-3-font-size: 32px;
  --h-3-letter-spacing: -0.2800000011920929px;
  --h-3-line-height: 129.99999523162842%;
  --h-3-font-style: normal;
  --h-1-font-family: "Pretendard", Helvetica;
  --h-1-font-weight: 700;
  --h-1-font-size: 64px;
  --h-1-letter-spacing: -0.2800000011920929px;
  --h-1-line-height: 129.99999523162842%;
  --h-1-font-style: normal;
  --button-font-family: "Pretendard", Helvetica;
  --button-font-weight: 700;
  --button-font-size: 20px;
  --button-letter-spacing: -0.2800000011920929px;
  --button-line-height: 129.99999523162842%;
  --button-font-style: normal;
  --placeholder-font-family: "Pretendard", Helvetica;
  --placeholder-font-weight: 400;
  --placeholder-font-size: 18px;
  --placeholder-letter-spacing: -0.2800000011920929px;
  --placeholder-line-height: 100%;
  --placeholder-font-style: normal;
  --subtitle-2-normal-font-family: "Pretendard", Helvetica;
  --subtitle-2-normal-font-weight: 400;
  --subtitle-2-normal-font-size: 20px;
  --subtitle-2-normal-letter-spacing: -0.2800000011920929px;
  --subtitle-2-normal-line-height: 200%;
  --subtitle-2-normal-font-style: normal;
  --variable-collection-subtitle-normal: rgba(122, 122, 126, 1);
  --variable-collection-primary-color: rgba(78, 192, 225, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
