.page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.page .div {
  background-color: #ffffff;
  width: 1920px;
  height: 4125px;
  position: relative;
}

.page .overlap {
  position: absolute;
  width: 1920px;
  height: 600px;
  top: 100px;
  left: 0;
  background-image: url(./img/onfield-contact-us-bg-1.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.page .group {
  position: relative;
  width: 639px;
  height: 310px;
  top: 165px;
  left: 240px;
}

.page .p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--h-1-font-family);
  font-weight: var(--h-1-font-weight);
  color: transparent;
  font-size: var(--h-1-font-size);
  letter-spacing: var(--h-1-letter-spacing);
  line-height: var(--h-1-line-height);
  font-style: var(--h-1-font-style);
}

.page .text-wrapper {
  color: #000000;
  letter-spacing: var(--h-1-letter-spacing);
  font-family: var(--h-1-font-family);
  font-style: var(--h-1-font-style);
  font-weight: var(--h-1-font-weight);
  line-height: var(--h-1-line-height);
  font-size: var(--h-1-font-size);
}

.page .span {
  color: #4ec0e1;
  letter-spacing: var(--h-1-letter-spacing);
  font-family: var(--h-1-font-family);
  font-style: var(--h-1-font-style);
  font-weight: var(--h-1-font-weight);
  line-height: var(--h-1-line-height);
  font-size: var(--h-1-font-size);
}

.page .text-wrapper-2 {
  position: absolute;
  top: 190px;
  left: 0;
  font-family: var(--subtitle-1-normal-font-family);
  font-weight: var(--subtitle-1-normal-font-weight);
  color: #000000;
  font-size: var(--subtitle-1-normal-font-size);
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  line-height: var(--subtitle-1-normal-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-1-normal-font-style);
}

.page .overlap-group-wrapper {
  position: absolute;
  width: 222px;
  height: 48px;
  top: 262px;
  left: 0;
}

.page .overlap-group {
  position: relative;
  width: 220px;
  height: 48px;
  background-color: #4ec0e1;
  border-radius: 4px;
}

.page .text-wrapper-3 {
  position: absolute;
  width: 220px;
  top: 11px;
  left: 0;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--button-font-size);
  text-align: center;
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  font-style: var(--button-font-style);
}

.page .header {
  position: absolute;
  width: 1920px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px #00000014;
}

.page .navbar {
  position: absolute;
  width: 699px;
  height: 24px;
  top: 38px;
  left: 991px;
}

.page .text-wrapper-4 {
  left: 0;
  position: absolute;
  top: 0;
  font-family: var(--nav-font-family);
  font-weight: var(--nav-font-weight);
  color: #000000;
  font-size: var(--nav-font-size);
  letter-spacing: var(--nav-letter-spacing);
  line-height: var(--nav-line-height);
  white-space: nowrap;
  font-style: var(--nav-font-style);
}

.page .text-wrapper-5 {
  left: 101px;
  position: absolute;
  top: 0;
  font-family: var(--nav-font-family);
  font-weight: var(--nav-font-weight);
  color: #000000;
  font-size: var(--nav-font-size);
  letter-spacing: var(--nav-letter-spacing);
  line-height: var(--nav-line-height);
  white-space: nowrap;
  font-style: var(--nav-font-style);
}

.page .text-wrapper-6 {
  left: 249px;
  position: absolute;
  top: 0;
  font-family: var(--nav-font-family);
  font-weight: var(--nav-font-weight);
  color: #000000;
  font-size: var(--nav-font-size);
  letter-spacing: var(--nav-letter-spacing);
  line-height: var(--nav-line-height);
  white-space: nowrap;
  font-style: var(--nav-font-style);
}

.page .text-wrapper-7 {
  left: 401px;
  position: absolute;
  top: 0;
  font-family: var(--nav-font-family);
  font-weight: var(--nav-font-weight);
  color: #000000;
  font-size: var(--nav-font-size);
  letter-spacing: var(--nav-letter-spacing);
  line-height: var(--nav-line-height);
  white-space: nowrap;
  font-style: var(--nav-font-style);
}

.page .text-wrapper-8 {
  left: 533px;
  position: absolute;
  top: 0;
  font-family: var(--nav-font-family);
  font-weight: var(--nav-font-weight);
  color: #000000;
  font-size: var(--nav-font-size);
  letter-spacing: var(--nav-letter-spacing);
  line-height: var(--nav-line-height);
  white-space: nowrap;
  font-style: var(--nav-font-style);
}

.page .material-symbols {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 665px;
}

.page .vector {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.page .element {
  width: 207px;
  height: 48px;
  top: 26px;
  position: absolute;
  left: 240px;
}

.page .img {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 14px;
  left: 0;
}

.page .vector-2 {
  position: absolute;
  width: 34px;
  height: 33px;
  top: 14px;
  left: 39px;
}

.page .vector-3 {
  position: absolute;
  width: 20px;
  height: 46px;
  top: 1px;
  left: 77px;
}

.page .vector-4 {
  position: absolute;
  width: 11px;
  height: 33px;
  top: 15px;
  left: 101px;
}

.page .vector-5 {
  position: absolute;
  width: 33px;
  height: 34px;
  top: 14px;
  left: 117px;
}

.page .vector-6 {
  position: absolute;
  width: 11px;
  height: 43px;
  top: 4px;
  left: 155px;
}

.page .vector-7 {
  position: absolute;
  width: 35px;
  height: 44px;
  top: 4px;
  left: 172px;
}

.page .vector-8 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 0;
  left: 101px;
}

.page .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 3305px;
  top: 820px;
  left: 0;
}

.page .footer {
  position: absolute;
  width: 1920px;
  height: 400px;
  top: 2905px;
  left: 0;
  background-color: #ffffff;
}

.page .text-wrapper-9 {
  position: absolute;
  top: 101px;
  left: 240px;
  font-family: "SUIT-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-10 {
  position: absolute;
  top: 339px;
  left: 240px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .GMG {
  position: absolute;
  top: 153px;
  left: 240px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-11 {
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
}

.page .text-wrapper-12 {
  text-decoration: underline;
}

.page .text-wrapper-13 {
  position: absolute;
  top: 59px;
  left: 960px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-14 {
  position: absolute;
  top: 92px;
  left: 960px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-15 {
  position: absolute;
  top: 126px;
  left: 960px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-16 {
  position: absolute;
  top: 157px;
  left: 960px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .text-wrapper-17 {
  position: absolute;
  top: 191px;
  left: 957px;
  font-family: "SUIT-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.page .group-2 {
  position: absolute;
  width: 140px;
  height: 24px;
  top: 60px;
  left: 1540px;
}

.page .element-2 {
  width: 156px;
  height: 36px;
  top: 60px;
  position: absolute;
  left: 240px;
}

.page .vector-9 {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 11px;
  left: 0;
}

.page .vector-10 {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 11px;
  left: 29px;
}

.page .vector-11 {
  position: absolute;
  width: 15px;
  height: 35px;
  top: 1px;
  left: 58px;
}

.page .vector-12 {
  position: absolute;
  width: 9px;
  height: 25px;
  top: 11px;
  left: 76px;
}

.page .vector-13 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 11px;
  left: 88px;
}

.page .vector-14 {
  position: absolute;
  width: 9px;
  height: 33px;
  top: 3px;
  left: 117px;
}

.page .vector-15 {
  position: absolute;
  width: 26px;
  height: 33px;
  top: 3px;
  left: 129px;
}

.page .vector-16 {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 0;
  left: 76px;
}

.page .line {
  width: 1440px;
  top: 0;
  left: 240px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.page .rectangle {
  position: absolute;
  width: 1920px;
  height: 2550px;
  top: 356px;
  left: 0;
  background-color: #f9f9f9;
}

.page .element-3 {
  width: 380px;
  top: 204px;
  left: 779px;
  color: var(--variable-collection-subtitle-normal);
  font-size: var(--subtitle-1-normal-font-size);
  text-align: center;
  line-height: var(--subtitle-1-normal-line-height);
  position: absolute;
  font-family: var(--subtitle-1-normal-font-family);
  font-weight: var(--subtitle-1-normal-font-weight);
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  font-style: var(--subtitle-1-normal-font-style);
}

.page .text-wrapper-18 {
  position: absolute;
  height: 60px;
  top: 0;
  left: 779px;
  font-family: var(--h-2-font-family);
  font-weight: var(--h-2-font-weight);
  color: #000000;
  font-size: var(--h-2-font-size);
  text-align: center;
  letter-spacing: var(--h-2-letter-spacing);
  line-height: var(--h-2-line-height);
  white-space: nowrap;
  font-style: var(--h-2-font-style);
}

.page .text-wrapper-19 {
  position: absolute;
  height: 62px;
  top: 132px;
  left: 787px;
  font-family: var(--number-font-family);
  font-weight: var(--number-font-weight);
  color: var(--variable-collection-primary-color);
  font-size: var(--number-font-size);
  text-align: center;
  letter-spacing: var(--number-letter-spacing);
  line-height: var(--number-line-height);
  white-space: nowrap;
  font-style: var(--number-font-style);
}

.page .text-wrapper-20 {
  position: absolute;
  width: 958px;
  top: 70px;
  left: 481px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: var(--variable-collection-subtitle-normal);
  font-size: var(--h-3-font-size);
  text-align: center;
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  font-style: var(--h-3-font-style);
}

.page .group-3 {
  position: absolute;
  width: 582px;
  height: 101px;
  top: 456px;
  left: 671px;
}

.page .text-wrapper-21 {
  position: absolute;
  top: 0;
  left: 160px;
  font-family: var(--h-2-font-family);
  font-weight: var(--h-2-font-weight);
  color: #000000;
  font-size: var(--h-2-font-size);
  text-align: center;
  letter-spacing: var(--h-2-letter-spacing);
  line-height: var(--h-2-line-height);
  white-space: nowrap;
  font-style: var(--h-2-font-style);
}

.page .text-wrapper-22 {
  position: absolute;
  width: 578px;
  top: 70px;
  left: 0;
  font-family: var(--subtitle-1-normal-font-family);
  font-weight: var(--subtitle-1-normal-font-weight);
  color: var(--variable-collection-subtitle-normal);
  font-size: var(--subtitle-1-normal-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  line-height: var(--subtitle-1-normal-line-height);
  font-style: var(--subtitle-1-normal-font-style);
}

.page .group-4 {
  position: absolute;
  width: 644px;
  height: 112px;
  top: 669px;
  left: 640px;
}

.page .div-wrapper {
  position: absolute;
  width: 640px;
  height: 69px;
  top: 43px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.page .text-wrapper-23 {
  position: absolute;
  top: 24px;
  left: 36px;
  font-family: var(--placeholder-font-family);
  font-weight: var(--placeholder-font-weight);
  color: var(--variable-collection-subtitle-normal);
  font-size: var(--placeholder-font-size);
  letter-spacing: var(--placeholder-letter-spacing);
  line-height: var(--placeholder-line-height);
  white-space: nowrap;
  font-style: var(--placeholder-font-style);
}

.page .div-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--subtitle-1-normal-font-family);
  font-weight: var(--subtitle-1-normal-font-weight);
  color: transparent;
  font-size: var(--subtitle-1-normal-font-size);
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  line-height: var(--subtitle-1-normal-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-1-normal-font-style);
}

.page .text-wrapper-24 {
  color: #000000;
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  font-family: var(--subtitle-1-normal-font-family);
  font-style: var(--subtitle-1-normal-font-style);
  font-weight: var(--subtitle-1-normal-font-weight);
  line-height: var(--subtitle-1-normal-line-height);
  font-size: var(--subtitle-1-normal-font-size);
}

.page .text-wrapper-25 {
  color: #ff0000;
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  font-family: var(--subtitle-1-normal-font-family);
  font-style: var(--subtitle-1-normal-font-style);
  font-weight: var(--subtitle-1-normal-font-weight);
  line-height: var(--subtitle-1-normal-line-height);
  font-size: var(--subtitle-1-normal-font-size);
}

.page .group-5 {
  position: absolute;
  width: 644px;
  height: 112px;
  top: 811px;
  left: 640px;
}

.page .text-wrapper-26 {
  position: absolute;
  top: 25px;
  left: 36px;
  font-family: var(--placeholder-font-family);
  font-weight: var(--placeholder-font-weight);
  color: var(--variable-collection-subtitle-normal);
  font-size: var(--placeholder-font-size);
  letter-spacing: var(--placeholder-letter-spacing);
  line-height: var(--placeholder-line-height);
  white-space: nowrap;
  font-style: var(--placeholder-font-style);
}

.page .group-6 {
  position: absolute;
  width: 644px;
  height: 112px;
  top: 953px;
  left: 640px;
}

.page .group-7 {
  position: absolute;
  width: 644px;
  height: 112px;
  top: 1095px;
  left: 640px;
}

.page .text-wrapper-27 {
  color: #7a7a7e;
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  font-family: var(--subtitle-1-normal-font-family);
  font-style: var(--subtitle-1-normal-font-style);
  font-weight: var(--subtitle-1-normal-font-weight);
  line-height: var(--subtitle-1-normal-line-height);
  font-size: var(--subtitle-1-normal-font-size);
}

.page .group-8 {
  position: absolute;
  width: 644px;
  height: 247px;
  top: 1823px;
  left: 640px;
}

.page .overlap-3 {
  position: absolute;
  width: 640px;
  height: 204px;
  top: 43px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.page .text-wrapper-28 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--subtitle-1-normal-font-family);
  font-weight: var(--subtitle-1-normal-font-weight);
  color: #000000;
  font-size: var(--subtitle-1-normal-font-size);
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  line-height: var(--subtitle-1-normal-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-1-normal-font-style);
}

.page .overlap-wrapper {
  position: absolute;
  width: 642px;
  height: 204px;
  top: 2402px;
  left: 640px;
}

.page .element-GMG-wrapper {
  position: relative;
  width: 640px;
  height: 204px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.page .element-GMG {
  position: absolute;
  width: 566px;
  top: 25px;
  left: 36px;
  font-family: var(--placeholder-font-family);
  font-weight: var(--placeholder-font-weight);
  color: var(--variable-collection-subtitle-normal);
  font-size: var(--placeholder-font-size);
  letter-spacing: var(--placeholder-letter-spacing);
  line-height: var(--placeholder-line-height);
  font-style: var(--placeholder-font-style);
}

.page .group-9 {
  position: absolute;
  width: 644px;
  height: 1319px;
  top: 30px;
  left: 640px;
}

.page .overlap-4 {
  position: absolute;
  width: 640px;
  height: 69px;
  top: 1250px;
  left: 0;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #aaaaaa;
}

.page .text-wrapper-29 {
  position: absolute;
  top: 25px;
  left: 36px;
  font-family: var(--placeholder-font-family);
  font-weight: var(--placeholder-font-weight);
  color: #000000;
  font-size: var(--placeholder-font-size);
  letter-spacing: var(--placeholder-letter-spacing);
  line-height: var(--placeholder-line-height);
  white-space: nowrap;
  font-style: var(--placeholder-font-style);
}

.page .vector-17 {
  position: absolute;
  width: 12px;
  height: 3px;
  top: 0;
  left: 601px;
}

.page .div-3 {
  position: absolute;
  top: 1207px;
  left: 0;
  font-family: var(--subtitle-1-normal-font-family);
  font-weight: var(--subtitle-1-normal-font-weight);
  color: transparent;
  font-size: var(--subtitle-1-normal-font-size);
  letter-spacing: var(--subtitle-1-normal-letter-spacing);
  line-height: var(--subtitle-1-normal-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-1-normal-font-style);
}

.page .text-wrapper-30 {
  position: absolute;
  width: 245px;
  top: 606px;
  left: 640px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: #000000;
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  font-style: var(--h-3-font-style);
}

.page .div-4 {
  position: absolute;
  top: 1398px;
  left: 640px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: transparent;
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  white-space: nowrap;
  font-style: var(--h-3-font-style);
}

.page .text-wrapper-31 {
  font-weight: var(--h-3-font-weight);
  color: #000000;
  letter-spacing: var(--h-3-letter-spacing);
  font-family: var(--h-3-font-family);
  font-style: var(--h-3-font-style);
  line-height: var(--h-3-line-height);
  font-size: var(--h-3-font-size);
}

.page .text-wrapper-32 {
  font-family: var(--h-3-font-family);
  color: #7a7a7e;
  letter-spacing: var(--h-3-letter-spacing);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  line-height: var(--h-3-line-height);
  font-size: var(--h-3-font-size);
}

.page .div-5 {
  position: absolute;
  top: 2119px;
  left: 640px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: transparent;
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  white-space: nowrap;
  font-style: var(--h-3-font-style);
}

.page .text-wrapper-33 {
  position: absolute;
  top: 1750px;
  left: 640px;
  font-family: var(--h-3-font-family);
  font-weight: var(--h-3-font-weight);
  color: #000000;
  font-size: var(--h-3-font-size);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  white-space: nowrap;
  font-style: var(--h-3-font-style);
}

.page .text-wrapper-34 {
  position: absolute;
  top: 1460px;
  left: 640px;
  font-family: var(--subtitle-2-normal-font-family);
  font-weight: var(--subtitle-2-normal-font-weight);
  color: #000000;
  font-size: var(--subtitle-2-normal-font-size);
  letter-spacing: var(--subtitle-2-normal-letter-spacing);
  line-height: var(--subtitle-2-normal-line-height);
  font-style: var(--subtitle-2-normal-font-style);
}

.page .element-4 {
  top: 2181px;
  left: 640px;
  color: #000000;
  font-size: var(--subtitle-2-normal-font-size);
  line-height: var(--subtitle-2-normal-line-height);
  position: absolute;
  font-family: var(--subtitle-2-normal-font-family);
  font-weight: var(--subtitle-2-normal-font-weight);
  letter-spacing: var(--subtitle-2-normal-letter-spacing);
  font-style: var(--subtitle-2-normal-font-style);
}

.page .div-6 {
  position: absolute;
  top: 2625px;
  left: 640px;
  font-family: var(--subtitle-2-normal-font-family);
  font-weight: var(--subtitle-2-normal-font-weight);
  color: transparent;
  font-size: var(--subtitle-2-normal-font-size);
  letter-spacing: var(--subtitle-2-normal-letter-spacing);
  line-height: var(--subtitle-2-normal-line-height);
  white-space: nowrap;
  font-style: var(--subtitle-2-normal-font-style);
}

.page .text-wrapper-35 {
  color: #000000;
  letter-spacing: var(--subtitle-2-normal-letter-spacing);
  font-family: var(--subtitle-2-normal-font-family);
  font-style: var(--subtitle-2-normal-font-style);
  font-weight: var(--subtitle-2-normal-font-weight);
  line-height: var(--subtitle-2-normal-line-height);
  font-size: var(--subtitle-2-normal-font-size);
}

.page .text-wrapper-36 {
  color: #ff0000;
  letter-spacing: var(--subtitle-2-normal-letter-spacing);
  font-family: var(--subtitle-2-normal-font-family);
  font-style: var(--subtitle-2-normal-font-style);
  font-weight: var(--subtitle-2-normal-font-weight);
  line-height: var(--subtitle-2-normal-line-height);
  font-size: var(--subtitle-2-normal-font-size);
}

.page .group-10 {
  position: absolute;
  width: 642px;
  height: 69px;
  top: 2716px;
  left: 640px;
}

.page .overlap-5 {
  position: relative;
  width: 640px;
  height: 69px;
  background-color: var(--variable-collection-primary-color);
  border-radius: 8px;
  border-color: var(--variable-collection-primary-color);
}

.page .text-wrapper-37 {
  position: absolute;
  top: 22px;
  left: 265px;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--button-font-size);
  text-align: center;
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  white-space: nowrap;
  font-style: var(--button-font-style);
}

.page .line-2 {
  width: 642px;
  top: 2351px;
  left: 638px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.page .rectangle-2 {
  position: absolute;
  width: 5px;
  height: 70px;
  top: 2412px;
  left: 1269px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
